<div class="container">
  <br>
  <h1>New flat</h1>
  <hr>
  <%= render "form", flat: @flat %>
  <hr>
  <div  class="btn btn-dark" >
    <%= link_to "Back to flats list", flats_path %>
  </div>
</div>
